#header_wrapper {
  margin:0 auto;
  clear:both;
  width:1000px;
  height:100px;
}
#logo {
  float:left;
  margin-top:15px;
  width:300px;
  height:78px;
}

#logo img {
  width:300px;
  height:78px;
}

#main_menu {
  float:right;
  margin-top:35px;
  max-width:665px;
  margin-left: 35px;
  height:35px;
}
    
#main_menu ul {
  float:right;
  list-style:none;
}

#main_menu ul li {
  float:left;
  list-style:none;
  position:relative;
}

#main_menu ul li a {
  text-transform:uppercase;
  font-weight: bold;
  padding:0 18px;
  font-size:14px;
  color:blue;
  border-right:1px solid #000;
  text-decoration:none;
}

#main_menu ul li.last a {
  padding-right:0;
  border-right:none;
}

#main_menu ul li a:hover {
  color:#ed145b;
}

#main_menu ul li ul {
  position:absolute;
  z-index:99;
  display:none;
}

#main_menu ul li:hover ul {
  display:block;
  padding-left: 10px;
  width:100%;
}

#main_menu ul li ul li {
  width:100%;
  background:rgb(150,150,150);
  background:rgba(150,150,150,0.9);
}

#main_menu ul li ul li.first {
  margin-top:5px;
}

#main_menu ul li ul li.last {
  padding-bottom:10px;
}

#main_menu ul li ul li a {
  display:block;
  padding:5px 5px 5px 8px;
  clear:both;
  border:none;
  font-size:12px;
  text-align:left;
  text-transform:none !important;
}

#main_menu ul li ul li a:hover {
  color:#fff;
  background:rgb(30,30,30);
  background:rgba(30,30,30,0.8);
}


#main_container{
  margin:0 auto;
  clear:both;
  width:1000px;
}
#utility {
  float:right;
  clear:right;
}
#social_icons,#login_link {
  float:right;
}
#social_icons a {
  float:left;
  margin-left:5px;
  width:20px;
  height:20px;
  background:url(app/images/social_icons.png) no-repeat;
}
#social_icons a.facebook {
  background-position:-23px 0;
}
#social_icons a.facebook:hover {
  background-position:-23px -24px;
}

body {
  position: relative;
  min-height: 100%;
}

#imageslider_container{
      width: 30%;
      margin: auto;
}

.jumbotron{
  background-color: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
}

.jumbotron .panel{
  padding:5px 10px;  
  border:1px solid #ccc;
  border-radius:8px;
  box-shadow:1px 1px 3px 1px #CCC;
  height: 350px;
  text-align:justify;
  background-color: #eee;
}

.footer {
    height:24px;
    width: 100%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    background-image: linear-gradient(#337ab7, #337aff);
}   

.footer_contents {

    height:24px;
    width: 100%;
    margin:auto;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.lastpanel{
  margin-bottom: 40px;
}

.textPanel{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 16px;
    height: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.readMore{
  float: right;
  font-weight: bold;
  background-color: #0c3a24;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 0px #1f8453;
  border: solid 1px transparent; 
}
.readMore:hover{
  color: orange;
}

.panel-heading{
  background-color: #337ab7;
  color: #fff;
  margin-bottom: 5px;
  padding: 5px 10px;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
}

marquee{
  max-height:250px !important;
}

p.marquee-txt{
  margin:10px;
  padding:10px;
  border:1px solid #CCC;
  border-radius:8px;
  box-shadow:1px 1px 3px 1px #CCC;
  font-size: 15px;
  color: #000;
}

p.marquee-txt:hover{
  background-color:#b8bec6;
}
span.highlight{
  font-weight: bold;
  font-size: 18px;
}
.supporterTalk{
  font-size: 15px;
  font-style: italic;
  text-align: justify;
  height: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.supporterTalk > img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 10px;
}
.supporter{
  font-size: 14px;
  font-weight: 700;
}
