<div *ngIf="showType!='explain'">
	<marquee direction="up" scrollamount="3" onmouseover="stop()" onmouseout="start()">
                 		<a routerLink="/upcomingEvents/explain">
                    		<p class="marquee-txt clearfix">
                    	           	<span class="clearfix highlight">LG eyes 30% increase in sales</span>
                        		<span class="pull-right">13 October 2016</span>
                        	</p>
                    	</a>
                    	<a routerLink="/upcomingEvents/explain">
                    		<p class="marquee-txt clearfix">
                    	           	<span class="clearfix highlight">LG eyes 30% increase in sales</span>
                        		<span class="pull-right">13 October 2016</span>
                        	</p>
                    	</a>
                    	<a routerLink="/upcomingEvents/explain">
                    		<p class="marquee-txt clearfix">
                    	           	<span class="clearfix highlight">LG eyes 30% increase in sales</span>
                        		<span class="pull-right">13 October 2016</span>
                        	</p>
                    	</a>
                    	<a routerLink="/upcomingEvents/explain">
                    		<p class="marquee-txt clearfix">
                    	           	<span class="clearfix highlight">LG eyes 30% increase in sales</span>
                        		<span class="pull-right">13 October 2016</span>
                        	</p>
                    	</a>
			</marquee>
</div>

<div class="panel panel-primary" style="width: 75%;margin: 0 auto;margin-top: 30px;margin-bottom: 15px;"  *ngIf="showType=='explain'">
    

    <div class="panel-body">
    <h2>Upcoming events in detailed</h2>
        
    </div>
</div>