<div *ngIf="showType!='explain'">
	<marquee direction="up" scrollamount="3" onmouseover="stop()" onmouseout="start()">
                 		<a routerLink="/upcomingEvents/explain" *ngFor="let activity of activities">
                    		<p class="marquee-txt clearfix">
                    	           	<span class="clearfix highlight">{{activity.name}}</span>
                        		<span class="pull-right">{{activity.startDate}}</span>
                        	</p>
                    	</a>
			</marquee>
</div>

<div class="panel panel-primary" style="width: 75%;margin: 0 auto;margin-top: 30px;margin-bottom: 15px;"  *ngIf="showType=='explain'">
    

    <div class="panel-body">
    <h2>Upcoming events</h2>
        <li *ngFor="let activity of activities">
            <p>{{activity.name}}</p>
            <p>{{activity.startDate}}</p>
            <p>{{activity.description}}</p>
        </li>
    </div>
</div>