<div class="panel panel-primary" style="width: 600px;margin: 0 auto;">
    <div class="panel-heading">
        New Activity
    </div>

    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="add()"
              [formGroup]="addActivityForm">
            <fieldset>
            	  <div class="form-group"
                    [ngClass]="{'has-error': displayMessage.activityName }">
                    <label class="col-md-3 control-label" 
                           for="activityNameId">Activity Name</label>
                    <div class="col-md-6">
                        <input id="activityNameId"
                               type="text" 
                               class="form-control col-md-12" 
                               formControlName="activityName"
                               placeholder="Activity Name"/>
                        <span class="col-md-8 help-block" *ngIf="displayMessage.activityName">
                            {{ displayMessage.activityName }}
                        </span>
                    </div>
                </div>
                <div class="form-group"
                    [ngClass]="{'has-error': displayMessage.project }">
                    <label class="col-md-3 control-label" 
                           for="projectId">Project</label>
                    <div class="col-md-6">
                      <select id="projectId" class="form-control col-md-12"  formControlName="project">
                          <option *ngFor="let item of projects" [value]="item">  
                          {{item}}
                          </option>
                      </select>
                      <span class="col-md-8 help-block" *ngIf="displayMessage.project">
                            {{ displayMessage.project }}
                      </span>
                    </div>
                </div>
                <div class="form-group"
                    [ngClass]="{'has-error': displayMessage.description }">
                    <label class="col-md-3 control-label" 
                           for="descriptionId">Activity Description</label>
                    <div class="col-md-6">
                        <textarea id="descriptionId"
                               class="form-control col-md-12" 
                               formControlName="description"
                               placeholder="Activity Description"></textarea>
                        <span class="col-md-8 help-block" *ngIf="displayMessage.description">
                            {{ displayMessage.description }}
                        </span>
                    </div>
                </div>
               <div class="form-group">
                    <div class="col-md-4 col-md-offset-4">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit">
                                Add
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-default"
                                    type="button" 
                                    (click)="resetForm()">
                                Reset
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
         </form>
         <div class='has-error' *ngIf='errorMessage'><span class="help-block errorsblock">{{errorMessage}}</span></div>
    </div>
</div>