<div class="panel panel-primary" style="width: 700px;margin: 0 auto;margin-top: 30px;">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="signup()"
              [formGroup]="signupForm">
            <fieldset>
                <div class="form-group"
                    [ngClass]="{'has-error': displayMessage.firstName }">
                    <label class="col-md-3 control-label" 
                           for="firstNameId">First Name</label>
                    <div class="col-md-8">
                        <input id="firstNameId"
                               type="text" 
                               class="form-control col-md-8" 
                               formControlName="firstName"
                               placeholder="First Name (required)"/>
                        <span class="col-md-8 help-block" *ngIf="displayMessage.firstName">
                            {{ displayMessage.firstName }}
                        </span>
                    </div>
                </div>
                <div class="form-group"
                    [ngClass]="{'has-error': displayMessage.lastName }">
                    <label class="col-md-3 control-label" 
                           for="lastNameId">Last Name</label>
                    <div class="col-md-8">
                        <input id="lastNameId"
                               type="text" 
                               class="form-control col-md-8"  
                               formControlName="lastName"
                               placeholder="Last Name (required)"/>
                        <span class="col-md-8 help-block" *ngIf="displayMessage.lastName">
                            {{ displayMessage.lastName }}
                        </span>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': displayMessage.email }">
                    <label class="col-md-3 control-label" 
                           for="emailId">Email</label>
                    <div class="col-md-8">
                        <input id="emailId"
                               type="text" 
                               class="form-control col-md-8"  
                               formControlName="email"
                               placeholder="Email (required)"/>
                        <span class="col-md-8 help-block" *ngIf="displayMessage.email">
                            {{ displayMessage.email }}
                        </span>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': displayMessage.phone }">
                    <label class="col-md-3 control-label" 
                           for="phoneId">Phone</label>
                    <div class="col-md-8">
                        <input id="phoneId"
                               type="text" 
                               class="form-control col-md-8"  
                               formControlName="phone"
                               placeholder="Phone (required)"/>
                        <span class="col-md-8 help-block" *ngIf="displayMessage.phone">
                            {{ displayMessage.phone }}
                        </span>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': displayMessage.address1 }">
                    <label class="col-md-3 control-label" 
                           for="address1Id">Address 1</label>
                    <div class="col-md-8">
                        <input id="address1Id"
                               type="text" 
                               class="form-control col-md-8" 
                               formControlName="address1"
                               placeholder="Address 1 (required)"/>
                        <span class="col-md-8 help-block" *ngIf="displayMessage.address1">
                            {{ displayMessage.address1 }}
                        </span>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': displayMessage.address2 }">
                    <label class="col-md-3 control-label" 
                           for="address2Id">Address 2</label>
                    <div class="col-md-8">
                        <input id="address2Id"
                               type="text" 
                               class="form-control col-md-8" 
                               formControlName="address2"
                               placeholder="Address 2"/>
                        <span class="col-md-8 help-block" *ngIf="displayMessage.address2">
                            {{ displayMessage.address2 }}
                        </span>
                    </div>
                </div>
                <div formGroupName="passwordGroup"
                    [ngClass]="{'has-error': signupForm.get('passwordGroup').errors }">
                    <div class="form-group"
                        [ngClass]="{'has-error': displayMessage.password}">
                        <label class="col-md-3 control-label" 
                               for="passwordId">Password</label>
                        <div class="col-md-8">
                            <input id="passwordId"
                                   type="text" 
                                   class="form-control col-md-8" 
                                   formControlName="password"
                                   placeholder="Password (required)"/>
                            <span class="col-md-8 help-block" *ngIf="displayMessage.password">
                                {{ displayMessage.password }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group"
                        [ngClass]="{'has-error': displayMessage.confirmPassword}">
                        <label class="col-md-3 control-label" 
                               for="confirmPasswordId">Confirm Password</label>
                        <div class="col-md-8">
                            <input id="confirmPasswordId"
                                   type="text" 
                                   class="form-control col-md-8" 
                                   formControlName="confirmPassword"
                                   placeholder="Confirm Password (required)"/>
                            <span class="col-md-8 help-block">
                                <span *ngIf="displayMessage.confirmPassword">
                                    {{ displayMessage.confirmPassword }}
                                </span>
                                <span *ngIf="signupForm.get('passwordGroup').errors?.match">
                                    Confirmation does not match the password.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4">
                        <span>
                            <button class="btn btn-primary"
                                    [disabled]="!signupForm.valid"
                                    type="submit">
                                Submit
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-default"
                                    type="button" 
                                    (click)="resetForm()">
                                Reset
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>